
# env file
.env

# Virtualenv
venv/

# VSCode files
.vscode/

# pycache
__pycache__/

# logs
*.log

# audio files
audio/
*.wav

# zipped data folder and archives
*.zip
*.xz

# csv and txt files
*.csv
*.txt

# data files
media/
*.aac

# notebooks
*.ipynb
.ipynb_checkpoints

# test scripts
test_scripts.py
